@font-face {
    font-family: youmurderer;
    src: url(youmurderer.ttf);
}

* {
    font-family: youmurderer;
}

html {
    margin: 0 0;
    padding: 0 0;
    background: black;
}

body {
    display: grid;
}

#video, #canvas, #photo1, #photo2, #photo3 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: auto;
    margin: 0px;
    padding: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}

#control {
    display: grid;
    grid-auto-flow: column;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#gallery {
    width: 100%;
    height: 100%;
    z-index: 99;
}

#nav {
    position: absolute;
    top: 0%;
    left: 0%;
    display: grid;
    grid-auto-flow: column;
}

.hide {
    display: none !important;
}

.hidden {
    opacity: 0 !important;
    transition: opacity 0.5s linear;
}

#banner {
    position: absolute;
    font-size: 4em;
    border-radius: 15px;
    padding: 15px;
    top: 5%;
    left: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: orange;
    color: black;
    z-index: 102;
    opacity: 1;
}

#shutter, #overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 0;
    padding: 0 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 101;
}

#overlay {
    opacity: 0.2;
    background-color: green;
}

#output, #cheer {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
    margin: 1em;
    z-index: 101;
}

#output img {
    width: 480px;
}

#control button {
    font-size: 2em;
    background-color: orange;
    color: black;
    padding: 1em;
    border-radius: 15px;
    margin: 0.2em;
    border: 0;
    opacity: 0.5;
}

#control button:hover {
    opacity: 1;
    color: white;
    cursor: pointer;
}

#cheer {
    position: absolute;
    bottom: 0px;
}

#cheer img {
    height: 480px;
    width: auto;
}

img.zoom {
    width: 100% !important;
}